<h1> Peliculas </h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Año</th>
    <th>Numero de Episodio</th>
    <th>Productores</th>
    <th>Director</th>
    <th></th>
  </tr>
  <%id = 0
    @movies.each do |moviee|
    id = id + 1
    movie = moviee["node"]
    %>

    <tr>
      <td> <%= movie["title"] %> </td>
      <td> <%= movie["releaseDate"] %> </td>
      <td> <%= movie["episodeID"] %> </td>
      <td> <%= movie["producers"] %> </td>
      <td> <%= movie["director"] %> </td>
      <td> <%= button_to 'Ver Mas', movie_path, method: :get, params: { movie_title: movie["title"]  } %> </td>
    </tr>
  <% end %>
</table>
