<h1> <%= @starship['name'] %> </h1>

<div>
  <b> Modelo: </b> <span> <%= @starship['model'] %> </span>
</div>
<div>
  <b> Clase: </b> <span> <%= @starship['starshipClass'] %> </span>
</div>
<div>
  <b> Fabricante: </b> <span> <%= @starship['manufacturer'] %> </span>
</div>
<div>
  <b> Precio (creditos galacticos): </b> <span> <%= @starship['costInCredits'] %> </span>
</div>
<div>
  <b> Largo (m): </b> <span> <%= @starship['length'] %> </span>
</div>
<div>
  <b> Numero necesario de tripulantes: </b> <span> <%= @starship['crew'] %> </span>
</div>
<div>
  <b> Maximo de pasajeros: </b> <span> <%= @starship['passengers'] %> </span>
</div>
<div>
  <b> Velocidad maxima: </b> <span> <%= @starship['maxAtmospheringSpeed'] %> </span>
</div>
<div>
  <b> Hiperdrive: </b> <span> <%= @starship['hyperdriveRating'] %> </span>
</div>
<div>
  <b> MGLT: </b> <span> <%= @starship['MGLT'] %> </span>
</div>
<div>
  <b> Capacidad Cargo: </b> <span> <%= @starship['cargoCapacity'] %> </span>
</div>
<div>
  <b> Autonomia de recursos: </b> <span> <%= @starship['consumables'] %> </span>
</div>

</br>

<div class="movie_associates">
  <b> Peliculas: </b>
  <ul>
    <% @movies.each do |movie| %>
    <li>
      <%= link_to movie['node']['title'], movie_path(movie_title: movie['node']['title']) %>
    </li>
    <% end %>
  </ul>
  <b> Pilotos: </b>
  <ul>
    <% @characters.each do |character| %>
    <li>
      <%= link_to character['node']['name'], character_path(character_name: character['node']['name']) %>
    </li>
    <% end %>
  </ul>
</div>
